*,
html {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: poppins;
  src: url(Poppins/Poppins-Light.ttf);
}

.container-navbar {
  font-family: poppins;
  width: 100%;
  height: 80px;
  background-color: #9854cb;
}

.container-navbar li {
  margin-top: 25px;
  margin-right: 40px;
  float: right;
  list-style-type: none;
  border-radius: 20px;
}

.container-navbar li:hover {
  background-color: #64379f;
}

.container-navbar a {
  text-decoration: none;
  color: white;
}

.container-navbar a:hover {
  font-weight: bold;
}

.container-contact {
  width: 100%;
  height: 100vh;
  background-color: #64379f;
  color: white;
  font-family: poppins;
}

.container-contact p {
  text-align: center;
  font-size: 90px;
}

footer {
  text-align: center;
  font-family: poppins;
  font-size: 20px;
  background-color: #9854cb;
  color: white;
}
